
<h1 style="font-family:Arial; text-align:center">Vigilantes da Floresta</h1>
<img src="img/vigilante.jpg" width="40%" style="display: block; margin: 0 auto">
<br>
<div style="font-family:'courier'; margin-left: 90px; margin-right: 90px; text-align:justify">Vigilantes da Floresta é um jogo desenvolvido para a disciplina de Programação Web 2020. Nele, um jogador é o responsável por cuidar de uma reserva florestal. Eventualmente surgem inimigos como focos de incêndio ou caveiras e o vigilante precisa ser habilidoso para combater esses males o mais rápido possível ou então terá sua floresta transformada em um enorme cinzeiro! </div>
